<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Joe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <h1><%=characters.name%></h1>
    
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" id="navId">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
            <a href="/rnm" class="nav-link">Rick and Morty</a>
        </li>
        <li class="nav-item">
            <a href="/bb" class="nav-link">Breaking Bad</a>
        </li>
        <li class="nav-item">
            <a href="/sw" class="nav-link ">Star Wars</a>
        </li>
    </ul>


<% characters.forEach((character) =>{ %>
<div class="card" style="width: 18rem;">
        <img src="<%= characters.image %>" class="card-img-top" alt="charcter">
    
        <div class="card-body">
        <h5 class="card-title"><%=character.name%></h5>
        <p class="card-text">Status: <%=character.status%></p>
        <p class="card-text">Gender: <%=character.gender%></p>
            <a href=<%=`/rnm/${character.name}`%>>GOOOOO </a>
        </div>
    </div>
<% }); %>

    
   
</body>
</html>