<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=data.name%></title>
    <%- include('partials/metaData') %>
  </head>
  <body>

      <%- include('partials/nav') %>
    <div class="row">
      <div class="col-sm">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%=data.image%>" alt="charImg" />
          <div class="card-body">
            <h5 class="card-title"><%=data.name%></h5>
            <p>Nickname: <%=data.nickname%></p>
            <p>Occupation: <br /><%=data.occupation%></p>
            <p>Played by: <%=data.actor%></p>
          </div>
        </div>
      </div>
    </div>

    <%- include('partials/js') %>
  </body>
</html>
