<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rick and Morty</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="public/styles.css" />
</head>
<body>
        <%- include('partials/nav') %>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h1 class="display-3">Rick and Morty Characters
                </h1>
                <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis modi omnis quod non earum vitae dignissimos, culpa impedit. Sint, non?</p>
                <hr class="my-2">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, hic?</p>
            </div>
        </div>


        <div class="container">
                <div class="row">
                        <% characters.forEach((character) =>{ %>
                            <div class="col-sm">                            
                            <div class="card" style="width: 18rem;">
                                    <img src="<%= character.image %>" class="card-img-top" alt="charcter">
                                    <div class="card-body">
                                    <h5 class="card-title"><%=character.name%></h5>
                                    <p class="card-text">Status: <%=character.status%></p>
                                        <a href=<%=`/rnm/${character.id}`%>>Character Page</a>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                  </div>
                </div>

</body>
</html>