<!DOCTYPE html>
<html lang="en">
<head>
    <title><%=data.name%></title>
    <%- include('partials/metaData') %>
</head>
<body>
        <%- include('partials/nav') %>



        <div class="card" style="width: 18rem;">
                <img src="<%=data.image%>" alt="charImg">
                <div class="card-body">
                <h5 class="card-title"><%=data.name%></h5>
                <p>Dead or Alive: <%=data.status%></p>
                <p>Gender: <%=data.gender%></p>
                <p>Home Dimension: <%=data.originalDimension%></p>
                </div>
            </div>

            <%- include('partials/js') %>
</body>
</html>