<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <%- include('partials/metaData') %>
  </head>
  <body>
        <%- include('partials/nav') %>

        <div class="jumbotron jumbotron-fluid">
          <div class="container">
              <h1 class="display-3">Star Wars Characters</h1>
              <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corporis modi omnis quod non earum vitae dignissimos, culpa impedit. Sint, non?</p>
              <hr class="my-2">
              <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi, hic?</p>
          </div>
      </div>

        <div class="container">
            <div class="row">
                <% characters.forEach( (person) =>{ %>
                        <div class="col-sm">                            
                        <div class="card" style="width: 18rem;">

                            <%if (person.name === "Luke Skywalker") { %>
                              <img src="/images/luke.jpeg" class="card-img-top" alt="character">
                              <% } %>
                              <%if (person.name === "C-3PO") { %>
                                <img src="/images/c3po.jpeg" class="card-img-top" alt="character">
                                <% } %>
                                <%if (person.name === "R2-D2") { %>
                                  <img src="/images/r2.jpg" class="card-img-top" alt="character">
                                  <% } %>
                                  <%if (person.name === "Darth Vader") { %>
                                    <img src="/images/vader.jpg" class="card-img-top" alt="character">
                                    <% } %>
                                    <%if (person.name === "Leia Organa") { %>
                                      <img src="/images/leia.jpg" class="card-img-top" alt="character">
                                      <% } %>
                                    <%if (person.name === "Owen Lars") { %>
                                      <img src="/images/owenLars.jpeg" class="card-img-top" alt="character">
                                      <% } %>
                                    <%if (person.name === "Beru Whitesun lars") { %>
                                      <img src="/images/bLars.jpeg" class="card-img-top" alt="character">
                                      <% } %>
                                    <%if (person.name === "R5-D4") { %>
                                      <img src="/images/r5.jpeg" class="card-img-top" alt="character">
                                      <% } %>
                                    <%if (person.name === "Biggs Darklighter") { %>
                                      <img src="/images/biggs.jpeg" class="card-img-top" alt="character">
                                      <% } %>
                                    <%if (person.name === "Obi-Wan Kenobi") { %>
                                      <img src="/images/obi.jpeg" class="card-img-top" alt="character">
                                      <% } %>
                                <div class="card-body">
                                <h5 class="card-title"><%=person.name%></h5>
                                <p>Height: <%=person.height%></p>
                                <p>Gender: <%=person.gender%></p>
                                <p>Birth Year: <%=person.birth_year%></p>

                                </div>
                            </div>
                        </div>
                        <% }); %>
              </div>
            </div>
            <%- include('partials/js') %>
  </body>
</html>